
<p>
  Insert the name of list
</p>
<input type="text" placeholder="name" [(ngModel)]="listName">
<p>
  Insert the item of list
</p>
<input type="text" placeholder="item" [(ngModel)]="item">

<button (click)="addItem()" class="btn btn-primary">add</button>

<ul class="list">
  <li
    *ngFor="let item of items; let i = index"
    class="list__item item"
  >
    <span class="item__num">{{i+1}}.</span>
    {{item}}
  </li>
</ul>

<a href="" (click)="saveList()" class="btn btn-success">save list</a>
