.list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.item {
  margin-bottom: 5px;
  &__num {
    margin-right: 5px;
  }
}

.disable {
  pointer-events: none;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
}

.text-input {
  padding: 5px;
  outline: none;
}
