
<label>
  Insert the name of list:
</label>
<input
  class="text-input"
  type="text"
  placeholder="name"
  [(ngModel)]="listTitle"
  (keypress)="saveListTitle($event)"
  [class.disable]="savedTitle"
  [disabled]="savedTitle"
>
<p>
  Insert the item of list
</p>
<input
  class="text-input"
  type="text"
  placeholder="item"
  [(ngModel)]="item"
>

<button (click)="addItem()" class="btn btn-primary">add</button>

<ul class="list">
  <li
    *ngFor="let item of items; let i = index"
    class="list__item item"
  >
    <span class="item__num">{{i+1}}.</span>
    {{item.description}}
  </li>
</ul>

<a href="#" (click)="saveList()" class="btn btn-success">save list</a>
